<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   

</head>
<body>
    <div id="app">
        <ul>
            <li v-for="task in todos">{{task.title}} --- completed= {{task.completed}}<button @click="DeleteTask(task)">x</button></li>
        </ul>

        <input type="text" v-model="newMessage"/>
        <button type="button" @click="addNewTask()">Add</button>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
       var app =  new Vue({
            el: "#app",
            data: {
                newMessage: "",
                todos: [
                    {'title': 'task1','completed': true},
                    {'title': 'task2','completed': false},
                    {'title': 'task3','completed': true},
                    {'title': 'task4','completed': false}
                ],
            },
            methods:{
                addNewTask(){
                   let dupicatevalue =  false;
                   this.todos.find((todoname) => {
                        if(todoname.title == this.newMessage){
                            alert('duplicate detected');
                            dupicatevalue = true;
                        }
                    
                    })
                    if(dupicatevalue == false){
                         this.todos.push({
                             'title': this.newMessage,
                             'completed': true,
                         }
                         );
                    }
                },

                DeleteTask(task){
                    let index = this.todos.indexOf(task);
                    console.log(this.todos);
                    this.todos.splice(index,1)
                }
            }
        })
    </script>
</body>
</html>